# User and Group ID given to your previously configured docker user
PUID = 1000     # Default User ID
PGID = 1000     # Defulat Group ID

# Your local timezone (eg. 'America/Ney_York')
TZ = <your_timezone>

# Username and Password
USERNAME = <USERNAME>
PASSWORD = <PASSWORD>

# IP Whitelist to access the WebGUI
WHITELIST = your.pcs.ip.address

# Folder paths for finished Downloads and .torrent Watch folder
DOWNLOADS_PATH = /path/to/your/downloads/
WATCH_PATH = /path/to/watch/torrents